*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    height: 4810px;
}
.header{
    width: 100%;
    height: 147px;
    display: flex;
    background-color: white;
}
.img_logo{
    width: 50%;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}
nav{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav_menu{
    text-decoration: none;
    color: #0E345A;
    font-size: 20px;
    font-family: 'Inter';
}
.nav_menu:hover{
    color: #597b9c;
}
li{
    padding-right: 15px;
}
.section_1{
    width: 100%;
    height: 699px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 
}
.background_sec1{
    width: 90%;
    height: 654px;
    margin: 0 auto;
    background-color: aliceblue;
    background-image: url('/images/image_sec_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.text_main_sec1{
    width: 798px;
    height: 496px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 115px;
    font-weight: bold;
    color: #0E345A;
    padding-left: 95px;
    padding-top: 79px;
}


.section_2{
    width: 100%;
    height: 2244px;
}
.subtitle_sec2{
    text-align: center;
    padding-top: 69px;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 48px;
    color: #0E345A;
}
.heading_sec2{
    text-align: center;
    font-weight: bold;
    font-size: 96px;
    color: #0E345A;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*,*::after, *::before {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
 
        main {
          width: 100%;
          height: 35vh;
          flex-direction: row;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
        }
 
        #carouselExampleCaptions, #carouselExampleCaptions2 {
          width: 70vw;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
 
        .carousel-inner {
            width: 100%;
        }
 
        .new {
            position: absolute;
            top: 10px;
            right: 10px;
            display: inline;
        }
 
        /* Controls */
        i.fa-arrow-right,
        i.fa-arrow-left{
          background: none;
          border: 2px solid #ffc107;
          color: black;
          padding: 10px;
          border-radius: 100%;
          transition: background .6s ease;
        }
 
        .carousel-item .card {
            height: 20em;
            height: fit-content;
        }
        i.fa-arrow-right:hover,
       i.fa-arrow-left:hover, i.fa-arrow-right2:hover, i.fa-arrow-left2:hover {
          background: #ffc107;
          color: black;
        }
        /* Indicators */
 
        .carousel-indicators [data-bs-target] {
          width: 10px;
          height: 10px;
          border-radius: 10%;
          border: 2px solid #ffc107;
        }
 
        .carousel-indicators .active {
            opacity: 1;
            background-color:  #ffc107;
        }
 
      @media screen and (max-width: 900px){
        #carouselExampleCaptions {
          width: 70vw;
          height: 70vw;
        }
 
        .card img {
            width: 100%;
        }
 
        .card .name {
          margin-top: 1em;
            font-size: 1em;
            font-weight: 700;
        }
 
        .card .role {
            font-size: 0.8em;
        }
 
        .card .work-at {
            font-size: 0.6em;
        }
        }
      
      @media screen and (max-width: 576px) {
        #carouselExampleCaptions {
          width: 70vw;
          height: 70vh;
        }
        
    .carousel-item .card .card-body {
       position: absolute;
       bottom: 20px;
       left: 10px;
       background-color: rgba(255, 255, 255, 0.9);
       border-radius: 10px;
     }
 
 }
.subcon_container_sec2{
    width: 90%;
    height: 1789px;
    margin: 0 auto;
    background-color: #0E345A;
}
.main_line_con2t{
    align-items: center;
    display: flex;
    justify-content: center;
}
.line1_cont2{
    margin-top: 100px;
    margin-bottom: 70px;
    width: 50px;
    height: 1px;
    background-color: white;
}
.heading_text_sec2_aftercard{
    text-align: center;
}
.subtitle_sec2_2{
    font-family: 'Inter';
    font-size: 40px;
    color: white;
}
.heading_sec2_2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    font-weight: bold;
    line-height: 90px;
    color: white;
}
.main_line_con2t_2{
    align-items: center;
    display: flex;
    justify-content: center;
}
.line1_cont2_2{
    margin-top: 15px;
    margin-bottom: 70px;
    width: 50px;
    height: 1px;
    background-color: white;
}
.main_line_con2t_3{
    align-items: center;
    display: flex;
    justify-content: center;
}
.line1_cont2_3{
    margin-top: 130px;
    margin-bottom: 70px;
    width: 50px;
    height: 1px;
    background-color: white;
}
.heading_text_3_cont2{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.heading_text3{
    color: white;
    font-size: 64px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 65%;
}
.button_check_cont2{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.button_cont2{
    width: 200px;
    height: 65px;
    border: 5px solid white;
    background-color: rgba(24, 100, 171, 0);
    color: white;
    font-size: 25px;
    font-family: 'Inter';
}
.main_line_con2t_4{
    align-items: center;
    display: flex;
    justify-content: center;
}
.line1_cont2_4{
    margin-top: 74px;
    margin-bottom: 70px;
    width: 50px;
    height: 1px;
    background-color: white;
}
.section_3{
    width: 100%;
    height: 1206px;
}
.text_main_cont3{
    text-align: center;
    color: #0E345A;
}
.subtitle_cont3{
    font-family: 'Inter';
    font-size: 40px;
}
.heading_cont3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 96px;
}
.text_and_frame{
    width: 100%;
    font-size: 40px;
    font-family: 'Inter';
    color: #0E345A;
    font-weight: 100;
    display: flex;
}
.text_cont3{
    width: 370px;
    height: 497px;
    justify-content: flex-start;
    margin: 0 auto;
}
.names, .when_book{
    padding-bottom: 20px;
}
.line_1_cont3, .line_2_cont3{
    width: 50px;
    height: 1px;
    background-color: #0E345A;
}
.frame_book{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
}
.frame{
    width: 663px;
    height: 793px;
    border: 25px solid #0E345A;
    background-image: url('/books/romeo_and_julit.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
footer{
    background-color: #0E345A;
    width: 100%;
    height: 514px;
}
.footer_text{
    display: flex;
    padding-top: 82px;
    justify-content: center;
}
.footer_textcont_1, .footer_textcont_2,
.footer_textcont_3, .form_footer{
    padding-left: 70px;
    color: white;
    font-family: 'Inter';
    font-weight: 100;
    font-size: 24px;
}
.textnamecompany, .magazine, 
.socials, .text_for_form1{
    padding-bottom: 64px;
}
#email{
    width: 361px;
}
#submit{
    width: 180px;
    height: 60px;
    background-color: white;
    color: #0E345A;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
}
.btn-up {
    position: fixed;
    background-color: #0E345A;
    right: 20px;
    bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    border: 2px solid white;
}

.btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #2c5b8a;
    border: 2px solid white;
  }
}